*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #434343;
}

#root{
  width: 100vw;
}

.search-bar{
  height: 100px;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  justify-content: space-between;
  margin-right:  30px;
}
.search-input{
  background-color: #000;
}

.title{
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

ul{
  display: inline-block;
  display: flex;
  align-self: center;
  background-color: #000;

}

li{
  list-style: none;
  display: inline-block;
  padding: 0px 5px;
  font-weight: bold;
  color: grey;
  background-color: #000;

}

li:hover{
  color: #fff;
}

h1{
  font-size: 50px;
  color: red;
  margin-bottom: 13px;
  margin-right: 20px;
  background-color: #000;

}

input{
  width: 500px;
  height: 50px;
  padding: 0px 15px;
  font-size: 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;

}

button{
  border-radius: 5px;
  margin-left: 10px;
  height: 30px;
  padding: 0px 5px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.central-container{
  padding: 20px 0px;
}



.movie{
  margin: 15px;
  width: 342px;
  height: 513px;
  border-radius: 5px;
  float: left;
}

.poster{
  width: 342px;
  height: 513px;
  border: 1px solid white;
}

.flag{
  width: 50px;
  height: 25px;
  vertical-align: middle;
}

/* .none{
  display: none;
} */
