<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolflix</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>

    <div id="root">

      <div class="search-bar">
        <div class="title">
          <h1>Boolflix</h1>
        </div>
        <div class="search-input">
          <input type="text" placeholder="Cerca un film" v-model='search' v-on:keyup.enter="movie">
          <button type="button" name="button" @click="movie">Cerca</button>
        </div>

      </div>

      <div class="central-container">

        <div class="movie" v-for="item in film">

          <h2>Titolo: {{item.title}}</h2>
          <h3>Titolo originale: {{item.original_title}}</h3>
          <h3>{{item.original_language}}</h3>
          <i class="fas fa-star stars" v-for="index in starVote(item.vote_average)"></i>
          <i class="far fa-star stars" v-for="index in (5 - starVote(item.vote_average))"></i>


        </div>

      </div>

    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
